/__pycache__
.env
*.sqlite3
.gitignore.txt
__pycache__/
*.pyc
bin/
.vscode/
lib/
pyvenv.cfg
angela4/__pycache__/
products/__pycache__
/angela4/__pycache__
angela4/__pycache__/settings.cpython-39.pyc
angela4/__pycache__/urls.cpython-39.pyc
loja/__pycache__/views.cpython-39.pyc
angela4/__pycache__/urls.cpython-39.pyc
loja/__pycache__/urls.cpython-39.pyc
loja/__pycache__/views.cpython-39.pyc
angela4/__pycache__/urls.cpython-39.pyc
carts/__pycache__/models.cpython-39.pyc
loja/__pycache__/forms.cpython-39.pyc
loja/__pycache__/urls.cpython-39.pyc
loja/__pycache__/views.cpython-39.pyc
products/__pycache__/models.cpython-39.pyc
products/__pycache__/urls.cpython-39.pyc
angela4/__pycache__/settings.cpython-39.pyc
angela4/__pycache__/settings.cpython-39.pyc
angela4/__pycache__/urls.cpython-39.pyc
carts/__pycache__/__init__.cpython-39.pyc
carts/__pycache__/admin.cpython-39.pyc
carts/__pycache__/apps.cpython-39.pyc
carts/__pycache__/models.cpython-39.pyc
*.pyc
*.pyc
*.pyc
*.pyc
