{% load static %}
<header class="header-area">
    <!-- Top Header Area -->  
</header>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" , initial-scale="1.0">

    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" >    
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'ccs/styles.css' %}"> -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
     <!-- need this to menu function, copied from site  https://getbootstrap.com/docs/5.1/getting-started/download/ -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"> <!--this line allow to use bootstrap icons, copied from site https://icons.getbootstrap.com/#install-->
   
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <!-- Font Awesome -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>


        <div class="background"></div>
        <div class="backdrop"></div>
        <!-- Linhas acima formam o background translucido do site, estará presente em todas as paginas. -->

        {% block content %} {%endblock%}  
        
</html>

