{% extends 'base2.html'%}
{% load static %}

{% block content%}
<title>consulta clientes</title>

    <!--include this line because external css isn't load in production-->
    <style>
        {% include 'partials/CSS/_maincss2.html' %} 
    </style>
<body>
    <!-- MELHOR DEFINIR O BODY EM CADA HTML, DEIXANDO DE FORA DO BASE.HTML, ASSIM É POSSIVEL DEFINIR PROPRIEDADES ESPECIFICAS DE CADA PÁGINA, POR EXEMPLO: overflow: hidden. -->

    <form class="main_form"action="{% url 'index' %}" method="POST">
        {% csrf_token %}
        <div class="label">
            <label>Conta</label>
        </div>
        <div>
            <input class="name" name="conta">
        </div>
        <div class="ou"><p>ou</p></div>
        <div class="label" >
            <label >Benefício</label>
        </div>
        <div>
            <input class="input_beneficio" name="beneficio">
        </div>
        <button type="submit" class="btn btn-success btn_consultar"><span class="dentro_btn">Consultar</span></button>
        <strong>
            <div><span class="messagesEntra">{{message}}</span></div>
            <div><span class="messagesLibera">{{message1}}</span></div>
            <div><span class="messagesError">{{messageError}}</span></div>
        </strong>  
        <a href="{% url 'logout' %}">Sair</a>

    </form>
</body>
{% endblock%}