{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Preloader -->
<body style="overflow: hidden;"> 
  <!-- MELHOR DEFINIR O BODY EM CADA HTML, DEIXANDO DE FORA DO BASE.HTML, ASSIM É POSSIVEL DEFINIR PROPRIEDADES ESPECIFICAS DE CADA PÁGINA, POR EXEMPLO: overflow: hidden. -->

  <div class="page">
    <div class="containe_login">
      <div class="formulario">
        <!-- HEADER -->
        <div class="header">
        
          <h3>Login</h3>
        </div>
        <!-- FORMULARIO -->
        <form method="POST" action="#" class="form">
          {% csrf_token %}
          <div class="input">
            <i class="fa fa-user icone"></i>
            <input class="my_login_input" name="email_user" placeholder="nome ou Email">
          </div>
          <div class="input my_login_input">
            <i class="fa fa-lock icone"></i>
            <input type="password" id="login-password" name="password" placeholder="Senha">
          </div>
          <div class="login_controls">
            <input type="submit" name="login" value="Login" class="btn btn-login">
          </div>
        </form>
        
      </div>
    </div>
  </div>
</body>
{% endblock %}
