    .main_form {
        margin-top: 15%;
        text-align: center;
        width: 100%;
        font-size: 4rem;
        /* margin-left: 30%;
        margin-right: 30%; */
    }
 
    .name, .input_beneficio {
        text-align: center;
        font-size: 4rem;
        background-color: Gainsboro ;
        <!-- border: 0.5rem solid; -->

    }
    .ou {
        margin-top: 4rem;
        margin-bottom: 4rem;
        }
    .input_beneficio {
        margin-bottom: 30px;
    }
    .btn_consultar {
        margin-top: 3.5rem;
        margin-bottom: 3.5rem;
    }
    .dentro_btn {
        font-size: 4rem;
        text-decoration: none;
    }
     
    .messagesEntra {
        font-size: 4rem;
        color: green;
        
    }
    .messagesLibera {
        font-size: 4rem;
        color: blue;
        
    }
    .messagesError {
        font-size: 4rem;
        color: red;
        
    }
